<header>
  Is Coronovirus affecting your career growth? Take your learning online with
  us! #learnsafeonline
  <button class="btn">Start Learning at &#8377;10</button>
</header>
<div class="container">
  <i class="material-icons user-icon">account_circle</i>
  <i class="material-icons">school</i>
  <ul class="dropdown">
    <li>
      <a href="#">Scholarship Test</a>
    </li>
  </ul>

  <ul class="dropdown">
    <li>
      <a href="#">Refer and Earn</a>
    </li>
  </ul>

  <ul class="dropdown">
    <li>
      <a href="#">Knowledge Center</a>
      <ul>
        <li>
          <i class="material-icons menu-icon">videocam</i>
          <i class="material-icons new-icon">fiber_new</i>
          <a href="#">Webinars</a></li>
        <li>
          <i class="material-icons menu-icon">web</i>
          <a href="#">Blog</a></li>
      </ul>
    </li>
  </ul>

  <ul class="dropdown">
    <li>
      <a href="#">Explore Programs</a>
      <ul>
        <li>
          <a href="#">Job Assured Program</a>
          <ul>
            <li>
              <i class="material-icons menu-icon">equalizer</i>
              <i class="material-icons new-icon">fiber_new</i>
              <a href="#">Data Science</a>
              <ul>
                <li><a href="#">Data Science</a></li>
                <li>
                  <i class="material-icons new-icon">fiber_new</i>
                  <a href="#">Machine Learning and Artificial Intelligence</a>
                </li>
              </ul>
            </li>
            <li>
              <i class="material-icons menu-icon">accessibility_new</i>
              <i class="material-icons new-icon">fiber_new</i>
              <a href="#">Management</a></li>
            <li>
              <i class="material-icons menu-icon">facebook</i>
              <a href="#">Web Development</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Student Certification Programs</a>
          <ul>
            <li>
              <i class="material-icons menu-icon">local_cafe</i>
              <a href="#">Core and Advanced Java</a></li>
            <li>
              <i class="material-icons menu-icon">copyright</i>
              <a href="#">C & C++ Programming</a></li>
            <li>
              <i class="material-icons menu-icon">gesture</i>
              <a href="#">Python Programming</a></li>
            <li>
              <i class="material-icons menu-icon">ac_unit</i>
              <a href="#">Data Structures and Algorithms</a></li>
          </ul>
        </li>
        <li>
          <a href="#">1:1 Coaching</a>
          <ul>
            <li>
              <i class="material-icons menu-icon">connect_without_contact</i>
              <a href="#">Interview Coaching</a></li>
            <li>
              <i class="material-icons menu-icon">engineering</i>
              <a href="#">Career Booster Package</a></li>
            <li>
              <i class="material-icons menu-icon">history_edu</i>
              <a href="#">Career Advice</a></li>
            <li>
              <i class="material-icons menu-icon">star_half</i>
              <a href="#">Resume and LinkedIn Review</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Micro Courses Starting at &#8377;10</a>
          <ul>
            <li><a href="#">Data Science</a></li>
            <li>
              <a href="#">Management</a>
              <ul>
                <li>
                  <i class="material-icons menu-icon">fact_check</i>
                  <a href="#">Product Management</a></li>
                <li>
                  <i class="material-icons menu-icon">loyalty</i>
                  <a href="#">Personal Finance and Investment Planning</a>
                </li>
                <li>
                  <i class="material-icons menu-icon">settings_remote</i>
                  <a href="#">Digital Marketing</a></li>
              </ul>
            </li>
            <li><a href="#">Placement Preparation</a></li>
            <li><a href="#">Technology</a></li>
          </ul>
        </li>
        <li><a href="#">Free Courses</a></li>
      </ul>
    </li>
  </ul>
</div>
